@model IEnumerable<E_Project_.Models.Category>

<section class="feature_part padding_top"></section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section_tittle text-center">
                <h2>Our Category </h2>
            </div>
        </div>
    </div>

    <div class="card-container">
    @foreach (var category in Model)
    {

        <div class="round-card">
            <div class="card-content">
                <img src="~/images/@category.Image" style="height:100px; width:100px">

            </div>
           </div>

            <a asp-action="Stationary" class="btn btn-primary mt-2">@category.Name</a>

    }
    </div>
    
</div>




