@model Product

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>

</head>

<body>
    <!--::header part start::-->
   @Html.Partial("Navbar")
    <!-- Header part end-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Single</h2>
                            <p>Home <span>-</span> Shop Single</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================End Home Banner Area =================-->
    <!--================Single Product Area =================-->
    
        <div class="product_image_area section_padding">
            <div class="container">
                <div class="row s_product_inner justify-content-between">
                

                    
                    <div class="col-lg-7 col-xl-7">
                        <div class="product_slider_img">
                            <div id="vertical">
                            <div class="h-100 w-75" data-thumb="~/images/@Model.Image">
                                <img src="~/images/@Model.Image" class="h-75 w-100">
                                </div>
 
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4">
                        <div class="s_product_text">
                            <h3>@Model.Book_Name</h3>
                            <h2>$@Model.Price</h2>
                            <ul class="list">
                                <li>
                                    <a class="active">
                                    <span>Category</span> : @Model.Book_Name
                                    </a>
                                </li>
                                <li>
                                    <a> <span>Availibility</span> :
                                    @if (Model.Stock > 0) // First condition
                                    {
                                        if (Model.Stock < 5) // Second condition
                                        {
                                            <span class="text-warning">Only @Model.Stock items left</span>
                                        }
                                        else // Else part if Model.Stock is 5 or more
                                        {
                                            <span class="text-success">In Stock</span>
                                        }
                                    }
                                    else // Else part if Model.Stock is 0
                                    {
                                        <span class="text-danger">Out of Stock</span>
                                    }

                                </a>
                                </li>
                            </ul>
                           
                            <div class="card_area d-flex justify-content-between align-items-center">
                                
                            <a asp-action="ProductCheckout" asp-controller="Home" class="btn_3">add to cart</a>
                      
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    
    <!--================End Single Product Area =================-->
    <!--::footer_part start::-->
    <footer class="footer_part" style="background-color:#229799">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3 style="color:burlywood;">Contents</h3>
                        <ul class="list-unstyled" style="color:azure;">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="About" asp-controller="Home">About</a></li>
                            <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3 style="color:burlywood;">Categories</h3>
                        <ul class="list-unstyled" style="color:azure;">
                            <li><a asp-action="Novel" asp-controller="Home">Novels</a></li>
                            <li><a asp-action="Books" asp-controller="Home">Books</a></li>
                            <li><a asp-action="Stationary" asp-controller="Home">Stationary</a></li>
                            <li><a asp-action="Magzines" asp-controller="Home">Magzines</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3 style="color:burlywood;">Support</h3>
                        <ul class="list-unstyled">
                            <li><a asp-action="Faq" asp-controller="Home">FAQ's</a></li>
                            <li><a asp-action="Index" asp-controller="Home">Track Order</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3 style="color:burlywood;">Sort By</h3>
                        <ul class="list-unstyled">
                            <li><a asp-action="Index" asp-controller="Home">New Arrivals</a></li>
                            <li><a asp-action="Index" asp-controller="Home">Best Sellers</a></li>
                            <li><a asp-action="Index" asp-controller="Home">sale</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h3 style="color:burlywood;">Newsletter</h3>
                        <p style="color:azure;">
                            Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/login/" class="single_social_icon"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/" class="single_social_icon"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/" class="single_social_icon"><i class="bi bi-youtube"></i></a></li>
                                <li><a href="https://www.whatsapp.com/" class="single_social_icon"><i class="bi bi-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
</body>
</html>